@import '../variables';

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1rem;
  color: $secondary-color;
}

th,
td {
  padding: 10px 20px;
  border: 1px solid $border-color;
  text-align: left;
  color: $text-color;
  font-weight: 500; 
}

th {
  cursor: pointer;
  background-color: $primary-color;
  color: #fff;
  font-weight: bold;
}

th:hover {
  background-color: darken($primary-color, 10%);
}

tr:nth-child(even) {
  background-color: $secondary-bg;
}

tr:hover {
  background-color: lighten($primary-color, 40%); 
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 30%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 25%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 25%;
}

@media (max-width: 768px) {
  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 40%;
  }

  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 20%;
  }
}
