@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $text-color;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: $background-color;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid $border-color;
  padding: $table-padding;
  text-align: left;
}

th {
  background-color: $primary-color;
  color: $text-color;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #34495e; 
}

tr:hover {
  background-color: $button-hover-color; 
}

a {
  color: $button-color;
  text-decoration: none;
}

a:hover {
  color: $button-hover-color;
}

button, .btn {
  background-color: $button-color; 
  color: $text-color;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

button:hover, .btn:hover {
  background-color: $button-hover-color;
}

button:focus, .btn:focus {
  outline: 2px solid $accent-color;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  background-color: $button-color;
  color: $text-color;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #7f8c8d;
}

.pagination button:hover {
  background-color: $button-hover-color;
}

/* Filters */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filters select,
.filters input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid $border-color;
  width: 200px;
  background-color: $background-color;
  color: $text-color;
}

.filters button {
  padding: 10px 20px;
  background-color: $primary-color;
  color: $text-color;
  border-radius: 5px;
}

.filters button:hover {
  background-color: $button-hover-color;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .filters select,
  .filters input {
    width: 100%;
  }
}
