$primary-color: #2c3e50;
$secondary-color: #bdc3c7; 
$border-color: #34495e;
$accent-color: #e74c3c; 

$background-color: #2f3640;
$text-color: #ecf0f1;
$secondary-bg: #263238;
$button-color: #3498db;
$button-hover-color: #1abc9c;

$font-family: 'Poppins', sans-serif;
$font-size-base: 16px;
$table-padding: 0.75rem;
